#intro {
  background-image: url(../assets/images/Background_Intro.png);
  background-size: cover;
  background-position: center;
  height: 750px;

  display: flex;
  justify-content: center;

  .intro-content {
    margin: 120px 165px;
    border-style: solid;
    border-color: red;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;

    width: 1040px;
    height: 447px;


    .avatar {
      width: 112px;
      height: 112px;
      padding: 3px;
      border: 2px solid var(--red);
      border-radius: 999px;
      position: relative;

      img {
        border: 1.5px solid transparent;
        border-radius: 9999px;
        object-fit: cover;
      }

      .icon-vector {
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: -5px;
        right: -5px;
      }

    }

    .greeting {
      .hello {
        display: flex;

        .name {
          color: var(--red);
        }
      }

    }
  }
}