#intro {
  background-image: url(../assets/images/Background_Intro.png);
  background-size: cover;
  background-position: center;
  height: 750px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .intro-content {
    margin: 120px 165px 94px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;

    width: 1040px;
    height: 447px;


    .avatar {
      width: 112px;
      height: 112px;
      padding: 3px;
      border: 2px solid var(--red);
      border-radius: 999px;
      position: relative;

      img {
        border: 1.5px solid transparent;
        border-radius: 9999px;
        object-fit: cover;
      }

      .icon-vector {
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: -5px;
        right: -5px;
      }

    }

    .greeting {
      width: 680px;
      padding-top: 56px;
      padding-bottom: 80px;

      .hello {
        display: flex;
        justify-content: center;
      }

      .dev {
        display: flex;
        justify-content: center;
        padding-block: 8px 20px;
      }

    }

    .languages {
      display: flex;
      gap: 20px;
      align-items: end;

      span {
        display: flex;
        align-items: center;
        padding: 16px;
        gap: 8px;
        height: 40px;
        background-color: var(--gray-400);
        border-radius: 999px;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

#projects {
  background-color: var(--gray-500);
  height: 917px;

  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    margin-top: 72px;
    padding-bottom: 56px;

    &:nth-child(1) {
      text-align: center;
    }
  }

  .cards-container {
    width: 1040px;
    height: 584px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    .card {
      width: 330px;
      height: 280px;
      background-color: var(--gray-400);
      border-radius: 12px;

      transition: transform 0.3s ease-in-out;

      .card-content {
        img {
          width: 306px;
          height: 156px;
          border-radius: 8px;
          margin: 12px 12px 20px;
          background-size: cover;
        }

        div {
          margin-left: 16px;
        }

        p {
          margin: 8px 16px 0px;
        }

      }

      &:hover {
        border: 1.5px solid var(--gray-300);
        transform: scale(1.05);
      }

    }
  }
}