#intro {
  background-image: url(../assets/images/Background_Intro.png);
  background-size: cover;
  background-position: center;
  height: 750px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .intro-content {
    margin: 120px 165px 94px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;

    width: 1040px;
    height: 447px;


    .avatar {
      width: 112px;
      height: 112px;
      padding: 3px;
      border: 2px solid var(--red);
      border-radius: 999px;
      position: relative;

      img {
        border: 1.5px solid transparent;
        border-radius: 9999px;
        object-fit: cover;
      }

      .icon-vector {
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: -5px;
        right: -5px;
      }

    }

    .greeting {
      width: 680px;
      padding-top: 56px;
      padding-bottom: 80px;

      .hello {
        display: flex;
        justify-content: center;

        .name {
          color: var(--red);
        }
      }

      .dev {
        display: flex;
        justify-content: center;
        padding-block: 8px 20px;
      }

    }

    .languages {
      display: flex;
      gap: 20px;
      align-items: end;

      span {
        display: flex;
        align-items: center;
        padding: 16px;
        gap: 8px;
        height: 40px;
        background-color: var(--gray-400);
        border-radius: 999px;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}